@font-face {
  font-family: "optima";
  src: url("./assets/font/OPTIMA.TTF");
}
@font-face {
    font-family: "jotia";
    src: url("https://db.onlinewebfonts.com/t/09fc87e1ac5bbdeb5c42b2c1ec4f780f.eot");
    src: url("https://db.onlinewebfonts.com/t/09fc87e1ac5bbdeb5c42b2c1ec4f780f.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/09fc87e1ac5bbdeb5c42b2c1ec4f780f.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/09fc87e1ac5bbdeb5c42b2c1ec4f780f.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/09fc87e1ac5bbdeb5c42b2c1ec4f780f.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/09fc87e1ac5bbdeb5c42b2c1ec4f780f.svg#Jotia W00 Regular")format("svg");
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.text-justify{
    text-align:justify
}
/* banner styles start */
.banner{
    background-image: url("./assets/images/banner-one.png");
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.13);
    height: 100vh;
}

.nav-item a{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;

}
.whatsapp{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 12px;
    background-color:transparent;
    border:none;
    color: #fff;
    padding: 10px;
    letter-spacing: 3px;

}
.btn-search{
    background-color:#fff;
    border:none;
    padding:10px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 3px;
}
.bannerContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-text{
    text-align: center;
    font-size: 44px;
    font-family: "optima";
    max-width: 600px;
    color: #fff;
    text-transform: uppercase;
}
/* banner styles end */
.subheading{
    font-family: "jotia";
    font-size: 15px;
    color: #909090;
    position: relative;
}
.subheading::after{
    content: "";
    border-bottom: 2px solid #909090;
    width: 50px;
    position: absolute;
    top: 8px;
    left: 160px;
    
   
}

.title{
    max-width: 400px;
    font-family: "optima";
    text-transform: uppercase;
}

.btn-viewall{
    text-transform: uppercase;
    background-color: #B92124;
    padding:10px;
    color: #fff;
    border: none;
    font-family:'Lato', sans-serif;
    font-size: 14px;
    font-weight: bold;
    float: right;
}
.btn-sub-viewall{
    text-transform: uppercase;
    background-color: #B92124;
    padding:10px;
    color: #fff;
    border: none;
    font-family:'Lato', sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.toogleswitch{
    display: flex;
    justify-content: start;
    align-items: center
}
.toogleswitch p{
    color: #fff;
    text-align: center;
    position: relative;
    top: 6px;
    padding: 10px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 24px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 28px;
    left: -1px;
    bottom: -1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: transparent;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px transparent;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
    border: 1px solid #fff;

  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .form-label{
    color:#fff;
    font-size:10px;
    text-transform: uppercase;
    font-weight:bold
  }
  .form-select{
    width:250px;
    border-bottom: 1px solid #fff;
    border-left: none;
    border-top: none;
    border-right: none;
    border-radius: 0px;
    background-color: transparent;
    color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");

  }
option{
    background-color: #0a0a0a
}
form{
    padding: 10px;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 5px );
-webkit-backdrop-filter: blur( 5px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
  }

  .dot {
    height: 35px;
    width: 35px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    font-size: 20px;
  }

  .active{
    background-color: #fff;
  }
  
  input[type="checkbox"] {
    width: 25px;
    height: 25px;
    clip-path: circle(46% at 50% 50%);
    vertical-align: middle;
    margin-right: 5px; 
}
.inputs{
    color: #fff;
    text-transform: uppercase;
    font-weight:bold
}
.inputs input{
    width: 100px;
    border: none;
    background-color:#ffffff49
}
section.range-slider {
    position: relative;
    text-align: center;
  }
  section.range-slider input[type=range] {
    pointer-events: none;
    position: absolute;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    border: none;
    background: #fff;
    box-shadow: inset 0 1px 0 0 #cdc6c6, inset 0 -1px 0 0 #d9d4d4;
    -webkit-box-shadow: inset 0 1px 0 0 #cdc6c6, inset 0 -1px 0 0 #d9d4d4;
    left: 0;
    top: 50px;
    width: 300px;
    outline: none;
    height:2px;
    margin-top: 0;
    padding: 0;
    cursor: pointer;

  }
  section.range-slider input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 9999;
    outline: 0;
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #fff));
    /* android <= 2.2 */
    background-image: -webkit-linear-gradient(top, #fff 0, #fff 100%);
    /* older mobile safari and android > 2.2 */
    background-image: linear-gradient(to bottom, #ffff 0, #fff 100%);
    /* W3C */
  }
  section.range-slider input[type=range]::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, #fff 0, #fff 100%);
    /* W3C */
  }
  section.range-slider input[type=range]::-ms-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -ms-appearance: none;
   width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    background-image: linear-gradient(to bottom, #fff 0, #fff 100%);
    /* W3C */
  }
  section.range-slider input[type=range]::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: #fff;
    border: 0;
  }
  section.range-slider input[type=range]:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
  }
  section.range-slider input[type=range]::-moz-focus-outer {
    border: 0;
  }
  .rangeValues{
    color: #fff;
  }

  .btn-submit{
    width: 150px;
    background-color: #fff;
    border: none;
    text-transform: uppercase;
    padding:10px;
    font-family:'Lato', sans-serif;
    font-size: 14px;
    font-weight: bold;
    float: right;
  }
  .btn-card{
    width: 150px;
    background-color: #fff;
    border: none;
    text-transform: uppercase;
    padding:10px;
    font-family:'Lato', sans-serif;
    font-size: 14px;
    border-radius: 0px;
  }
  .card{
    border: none;
    border-radius: 0px;
    height: 450px;
  }
 .card-body{
    background-color:#2C2C2C;
    color:#fff;
    font-family: 'Lato', sans-serif;}
    .card-title{
        font-size:20px;
        text-transform: uppercase;

    }
.card-body p {
    font-size: 13px;
    color:#909090;
    
 }
 .single-card-title{
    color: #fff;
    font-size: 28px;
    text-transform: uppercase;
    padding: 10px;
 }
 .single-card-p{
    color: #fff;
    font-size: 20px;
    padding: 0px 10px ;
 }
 .card-button{
    position: absolute;
    bottom: 80px;
    left: 20px;
    font-weight:bold;
    border: none;
    font-size: 14px;
    background-color: #93622C;
    color: #fff;
    padding:10px;
 }

 
.owl-prev,
.owl-next {
  background-color: black !important;
  color: white !important; 
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  z-index: 10; 
}

.owl-prev {
  left: 0px; 
}

.owl-next {
  right: 0px; 
}
  .owl-carousel .item {
    width: 100%; 
    max-width: 18rem; 
    margin: 0 auto; 
  }
  .owl-carousel .owl-nav button.owl-prev span,
  .owl-carousel .owl-nav button.owl-next span {
    font-size: 20px !important; 
  }

  .cta{
    padding:100px;
  }

  .cta h2{
    font-size:30px;
    color: #fff;
    font-family: "optima";
    text-transform: uppercase;
    font-weight:600;
    letter-spacing: 2px;
  }
  .cta p{
    color: #fff;
    font-family: "optima";
    font-size: 20px;

  }

  .cta button{
    color: #000;
    border: none;
    padding:10px 20px;
    background-color: #FDFDA7;
    font-weight: 400;
  }
.card{
    border:none !important;
    /* margin-bottom: 20px; */
}
  .card-img-top{
    border-radius: 0px;
  }

  .custom-slider-nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .custom-slider-prev,
  .custom-slider-next {
    background: none;
    border: none;
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
    color: #fff;
    background-color: #000;
    padding: 10px;
  }

  .footer{
    background-color: #000;
    padding: 60px 0px 100px;
  }
.footer-top-title{
    font-size:18px;
    font-family: 'Lato', sans-serif;
    text-align:center;
    color: #fff;
    position: relative;
}
.footer-top-title::before{
    content: "";
    border: 1px solid #fff;
    position: absolute;
    top: 10px;
    left: 0;
    width: 30%;

}
.footer-top-title::after{
    content: "";
    border: 1px solid #fff;
    position: absolute;
    top: 10px;
    width: 30%;
    right: 0;

}
.footer ul li{
    list-style: none;
    color: #fff;
    padding: 10px 0px;
}
.footer-title{
    color: #fff;
    font-family:'Lato', sans-serif ;
    padding-bottom: 20px;
  }
.address{
    color: #fff;
    padding-bottom: 50px;
    max-width: 300px;
    font-family: 'Lato', sans-serif;
}

.footer input{
    background-color: #333333;
    width: 70%;
    padding: 10px;
    border: none;
}.footer button{
    background-color: #fff;
    color: #000;
    border: none;
    padding:10px 15px;
    font-family: 'optima';
    font-weight: bold;
}
.footer-social-logo img{
width: 30px;
margin-left: 3px;}
.footer-bottom{
    display: flex;
    justify-content: space-between;

}

.footer-bottom p{
    color: #fff;
    font-size: 13px;
}

  @media only screen and (max-width: 768px) {
    .banner{
        height: 120vh;
        
    }

.form-select {
    width: 100%;}
    form {
        padding: 100px 23px;
    }
    .banner-text {
        font-size: 28px;
    }
    .inputs {
        text-align: center;}
        .inputs input {
            width: 100%;}
    .btn-submit{
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translate(-80px, 10px);
    }
    section.range-slider input[type=range]{
        width: 100%;
    }
    section.range-slider {
        padding: 20px 0px;    }
    .custom-slider-nav{position: absolute;
    z-index: 999;
    bottom: -68px;
    transform: translate(-60px, 10px);
    left: 50%;
}
.footer{
   
    margin-top: 80px;
  }
  .footer-top-title::before{
    content: "";
    border: 1px solid #fff;
    position: absolute;
    top: 10px;
    left: 0;
    width: 10%;

}
.footer-top-title::after{
    content: "";
    border: 1px solid #fff;
    position: absolute;
    top: 10px;
    width: 10%;
    right: 0;

}.footer-bottom {
    display: block;
    text-align: center;

  }
}
 